

.visita-nueva {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  left: 200px;
  top: 105px;
  width:100%;
}

.visita-nueva .div {
  /* background-image: url(./container.svg); */
  background-size: 100% 100%;
  height: 412px;
  background-color: #d9d9d9;
  border-radius: 10px;
  position: relative;
  /* left: 200px; */
  /* top: 80px; */
  width: 563px;
}

.visita-nueva .header {
  background-color: transparent;
  height: 34px;
  left: 16px;
  position: absolute;
  top: 17px;
  width: 500px;
}

.visita-nueva .overlap-group {
  background-color: #ffffff;
  border-radius: 10px;
  height: 34px;
  position: relative;
  width: 498px;
}

.visita-nueva .register-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 18px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: 498px;
}

.visita-nueva .overlap {
  background-color: #d9d9d9;
  height: 353px;
  left: 0;
  border-radius: 10px;
  position: absolute;
  top: 59px;
  width: 563px;
}

.visita-nueva .user-div {
  height: 126px;
  left: 16px;
  position: absolute;
  top: 30px;
  width: 260px;
}

.visita-nueva .rectangle {
  background-color: #ffffff;
  border-radius: 10px;
  height: 30px;
  left: 0;
  position: absolute;
  top: 35px;
  width: 234px;
}

.visita-nueva .users-listed {
  height: 54px;
  left: 0;
  position: absolute;
  top: 72px;
  width: 234px;
}

.visita-nueva .user-pick {
  background-color: #53789587;
  border-radius: 10px;
  height: 22px;
  left: 0;
  position: absolute;
  top: 32px;
  width: 234px;
}

.visita-nueva .img {
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 234px;
}

.visita-nueva .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 26px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 258px;
}

.visita-nueva .protocolos-div {
  height: 123px;
  left: 16px;
  position: absolute;
  top: 192px;
  width: 260px;
}

.visita-nueva .protocolos-listed {
  height: 51px;
  left: 0;
  position: absolute;
  top: 72px;
  width: 234px;
}

.visita-nueva .protocolos-pick {
  background-color: #53789587;
  border-radius: 10px;
  height: 22px;
  left: 0;
  position: absolute;
  top: 29px;
  width: 234px;
}

.visita-nueva .separator {
  height: 339px;
  left: 280px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 3px;
}

.visita-nueva .fecha-div {
  height: 61px;
  left: 299px;
  position: absolute;
  top: 30px;
  width: 260px;
}

.visita-nueva .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 15px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 258px;
}

.visita-nueva .div-2 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 30px;
  left: 0;
  position: absolute;
  top: 31px;
  width: 234px;
}

.visita-nueva .insede-div {
  height: 74px;
  left: 299px;
  position: absolute;
  top: 116px;
  width: 260px;
}

.visita-nueva .sede-input {
  height: 50px;
  left: 104px;
  position: absolute;
  top: 24px;
  width: 50px;
}

.visita-nueva .time-div {
  height: 61px;
  left: 299px;
  position: absolute;
  top: 199px;
  width: 260px;
}