.CreateSede-button-redirect-container{
    position: relative;
    left: 1150px;
    top: 70px;
}


.CreateSede-button-redirect{
    top: -95px;
    border-radius: 150px;
    color:#00ddfa;
    background-color: rgba(32, 32, 32,0.6);
    padding: 5px;
    height: 55px ;
    width:55px ;
}

/* sedes media  */

@media screen and (min-device-width: 412px) and (max-device-width: 915px) {
    .CreateSede-button-redirect-container{
        position: absolute;
        left: 350px;
        top: 115px;
    }
  }
  
  
  
  @media screen and (min-device-width: 600px) and (max-device-width: 845px){
    .CreateSede-button-redirect-container{
        position: absolute;
        left: -250px;
        top: -550px;
    }
  }
  @media screen and (min-device-width: 820px) and (max-device-width: 1180px) {
    .CreateSede-button-redirect-container{
        position: absolute;
        left: 700px;
        top: 130px;
       
    }
  }
  
  @media screen and (min-device-width: 1920px) and (max-device-width: 1080px) {
    .CreateSede-button-redirect-container{
      position: absolute;
      left: 400px;
      top: 130px;
       
    }
    
   
    
  }