.OrdenDetailPage-box {
  height: 791px;
  width: 1229px;
  background-color: transparent;

}

.OrdenDetailPage-box .OrdenDetailPage-orden-servicio {
  height: 791px;
  left: 0;
  top: 0;
  width: 1229px;
}

.OrdenDetailPage-box .OrdenDetailPage-body {
  border-radius: 10px;
  height: 791px;
  background-color: none;
  overflow: hidden;
}

.OrdenDetailPage-box .OrdenDetailPage-overlap {
  height: 789px;
  left: 3px;
  position: relative;
  width: 1226px;
}

.OrdenDetailPage-box .OrdenDetailPage-container {
  background-color: #53789587;
  border-radius: 10px;
  height: 789px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1222px;
}

.OrdenDetailPage-box .OrdenDetailPage-header {
  background-color: transparent;
  height: 173px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1226px;
}

.OrdenDetailPage-box .OrdenDetailPage-overlap-group {
  background-color: #ffffff;
  border-radius: 10px;
  height: 173px;
  position: relative;
  width: 1222px;
}

.OrdenDetailPage-box .OrdenDetailPage-orden-id {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 43px;
  left: 161px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 65px;
  width: 897px;
}

.OrdenDetailPage-box .OrdenDetailPage-check-icon {
  height: 80px;
  left: 40px;
  color: #08da08;
  position: absolute;
  top: 46px;
  width: 80px;
}

.OrdenDetailPage-box .OrdenDetailPage-date-icon {
  height: 30px;
  color: #636b6f;
  left: 962px;
  position: absolute;
  top: 132px;
  width: 30px;
}

.OrdenDetailPage-box .OrdenDetailPage-date-created {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 30px;
  left: 1009px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 137px;
  width: 203px;
}

.OrdenDetailPage-box .OrdenDetailPage-right-arrow {
  height: 70px;
  color: #00ddfa;
  left: 1122px;
  position: absolute;
  top: 395px;
  width: 100px;
}

.OrdenDetailPage-box .OrdenDetailPage-left-arrow {
  height: 100px;
  color: #00ddfa;
  left: 0;
  position: absolute;
  top: 395px;
  width: 70px;
}


/* /////////////////SOLICITUDES SERVICIO STYLES///////////////// */


.solicitudes {
  display: flex;
  top: 120px;
  position: relative;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.solicitudes .div {
  background-color: #ffffff;
  border-radius: 10px;
  height: 566px;
  overflow: hidden;
  position: relative;
  width: 1006px;
}

.solicitudes .header {
  background-color: transparent;
  height: 124px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1008px;
}

.solicitudes .overlap-group {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 124px;
  position: relative;
  width: 1006px;
}

.solicitudes .solicitud-id {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 40px;
  left: 85px;
  letter-spacing: 0;
  cursor: pointer;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 40px;
  width: 842px;
}

.solicitudes .geninfo-section {
  height: 146px;
  left: 31px;
  position: absolute;
  top: 148px;
  width: 410px;
}

.solicitudes .overlap {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 146px;
  position: relative;
  width: 400px;
}

.solicitudes .geninfo-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 24px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 400px;
}

.solicitudes .service-icon {
  height: 19px;
  color: #00ddfa;
  left: 15px;
  position: absolute;
  top: 55px;
  width: 28px;
}

.solicitudes .service-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 15px;
  left: 58px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 57px;
  width: 127px;
}

.solicitudes .created-icon {
  height: 19px;
  left: 15px;
  color: #00ddfa;
  position: absolute;
  top: 95px;
  width: 28px;
}

.solicitudes .created-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 15px;
  left: 61px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 99px;
  width: 127px;
}

.solicitudes .geninfo-separator {
  height: 88px;
  left: 200px;
  background-color: #636b6f61;
  object-fit: cover;
  position: absolute;
  top: 42px;
  width: 2px;
}

.solicitudes .aviso-icon {
  height: 19px;
  left: 219px;
  color: #00ddfa;
  position: absolute;
  top: 55px;
  width: 28px;
}

.solicitudes .aviso-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 261px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 57px;
  width: 131px;
}

.solicitudes .observacion-icon {
  height: 19px;
  left: 219px;
  color: #00ddfa;
  position: absolute;
  top: 95px;
  width: 28px;
}

.solicitudes .observacion-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 261px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 97px;
  width: 131px;
}

.solicitudes .estado-section {
  height: 56px;
  left: 16px;
  position: absolute;
  top: 304px;
  width: 434px;
}

.solicitudes .overlap-2 {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 56px;
  position: relative;
  width: 430px;
}

.solicitudes .estado-icon {
  height: 37px;
  left: 13px;
  color: #00ddfa;
  position: absolute;
  top: 7px;
  width: 49px;
}

.solicitudes .estado-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 72px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
  white-space: nowrap;
  width: 132px;
}

.solicitudes .estado-separator {
  height: 34px;
  left: 216px;
  background-color: #636b6f61;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 1px;
}

.solicitudes .text-wrapper {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  height: 47px;
  left: 225px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 200px;
}

.solicitudes .creator-section {
  height: 188px;
  left: 29px;
  position: absolute;
  top: 369px;
  width: 424px;
}

.solicitudes .overlap-3 {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 188px;
  position: relative;
  width: 400px;
}

.solicitudes .overlap-4 {
  height: 23px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 400px;
}

.solicitudes .creador-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 12px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 400px;
}

.solicitudes .creador-oid {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 8px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 17px;
  white-space: nowrap;
  width: 400px;
}

.solicitudes .eye {
  height: 17px;
  left: 364px;
  color: #636b6f;
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 21px;
}

.solicitudes .overlap-5 {
  height: 66px;
  left: 0;
  position: absolute;
  top: 37px;
  width: 400px;
}

.solicitudes .username-icon {
  height: 14px;
  left: 7px;
  color: #00ddfa;
  position: absolute;
  top: 2px;
  width: 28px;
}

.solicitudes .creador-username {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 45px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
  white-space: nowrap;
  width: 148px;
}

.solicitudes .telephone-icon {
  height: 14px;
  left: 229px;
  color: #00ddfa;
  position: absolute;
  top: 2px;
  width: 28px;
}

.solicitudes .creador-telephone {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 267px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
  white-space: nowrap;
  width: 127px;
}

.solicitudes .overlap-6 {
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 400px;
}

.solicitudes .cc-icon {
  height: 14px;
  left: 7px;
  color: #00ddfa;
  position: absolute;
  top: 26px;
  width: 28px;
}

.solicitudes .creador-cc {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 45px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  white-space: nowrap;
  width: 148px;
}

.solicitudes .email-icon {
  height: 14px;
  left: 229px;
  color: #00ddfa;
  position: absolute;
  top: 26px;
  width: 28px;
}

.solicitudes .overlap-7 {
  height: 38px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 400px;
}

.solicitudes .creador-email {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 267px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 128px;
}

.solicitudes .separator-info {
  height: 12px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 400px;
}

.solicitudes .overlap-group-2 {
  height: 12px;
  position: relative;
}

.solicitudes .line {
  height: 1px;
  left: 0;
  background-color: #537895;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 193px;
}

.solicitudes .img {
  height: 1px;
  left: 207px;
  background-color: #537895;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 193px;
}

.solicitudes .ellipse {
  border: 1px solid;
  border-color: #537895;
  border-radius: 8.25px/5.83px;
  height: 12px;
  left: 192px;
  position: absolute;
  top: 0;
  width: 16px;
}

.solicitudes .separator {
  height: 46px;
  left: 199px;
  object-fit: cover;
  background-color: #636b6f61;
  position: absolute;
  top: 0;
  width: 2px;
}

.solicitudes .overlap-8 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 107px;
  width: 400px;
}

.solicitudes .actualizador-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 12px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: 400px;
}

.solicitudes .actualizador-oid {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 8px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 19px;
  white-space: nowrap;
  width: 400px;
}

.solicitudes .user {
  height: 14px;
  left: 7px;
  color: #00ddfa;
  position: absolute;
  top: 142px;
  width: 28px;
}

.solicitudes .actualizador {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 45px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 141px;
  white-space: nowrap;
  width: 148px;
}

.solicitudes .cc {
  height: 14px;
  left: 7px;
  position: absolute;
  color: #00ddfa;
  top: 166px;
  width: 28px;
}

.solicitudes .actualizador-cc {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 45px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 165px;
  white-space: nowrap;
  width: 148px;
}

.solicitudes .telephone {
  height: 14px;
  left: 229px;
  position: absolute;
  color: #00ddfa;
  top: 141px;
  width: 28px;
}

.solicitudes .actualizador-2 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 267px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 142px;
  white-space: nowrap;
  width: 127px;
}

.solicitudes .email {
  height: 14px;
  color: #00ddfa;
  left: 229px;
  position: absolute;
  top: 165px;
  width: 28px;
}

.solicitudes .actualizador-email {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 267px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 165px;
  width: 128px;
}

.solicitudes .separator-2 {
  height: 46px;
  left: 199px;
  object-fit: cover;
  background-color: #636b6f61;
  position: absolute;
  top: 139px;
  width: 2px;
}

.solicitudes .equipo-section {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 409px;
  left: 463px;
  position: absolute;
  top: 148px;
  width: 525px;
}

.solicitudes .overlap-9 {
  height: 138px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 537px;
}

.solicitudes .client-info {
  height: 127px;
  left: 0;
  position: absolute;
  top: 0;
  width: 537px;
}

.solicitudes .overlap-group-3 {
  height: 23px;
  left: 0;
  position: absolute;
  top: 0;
  width: 525px;
}

.solicitudes .client-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 22px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 525px;
}

.solicitudes .eye-2 {
  height: 21px;
  color: #636b6f;
  cursor: pointer;
  left: 489px;
  position: absolute;
  top: 0;
  width: 26px;
}

.solicitudes .client-oid {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 8px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 23px;
  white-space: nowrap;
  width: 525px;
}

.solicitudes .clientname-icon {
  height: 22px;
  left: 39px;
  color: #00ddfa;
  position: absolute;
  top: 45px;
  width: 28px;
}

.solicitudes .clientname-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 76px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 51px;
  width: 173px;
}

.solicitudes .nit-icon {
  height: 22px;
  left: 39px;
  color: #00ddfa;
  position: absolute;
  top: 76px;
  width: 28px;
}

.solicitudes .nit-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 17px;
  left: 76px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 81px;
  width: 173px;
}

.solicitudes .clientphone-icon {
  height: 22px;
  left: 306px;
  color: #00ddfa;
  position: absolute;
  top: 45px;
  width: 28px;
}

.solicitudes .clientphone-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 33px;
  left: 343px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 41px;
  width: 173px;
}

.solicitudes .clientinfo-separator {
  height: 66px;
  left: 263px;
  background-color: #636b6f61;
  object-fit: cover;
  position: absolute;
  top: 43px;
  width: 1px;
}

.solicitudes .clientemail-icon {
  height: 22px;
  left: 306px;
  color: #00ddfa;
  position: absolute;
  top: 76px;
  width: 28px;
}

.solicitudes .clientemail-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 343px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 83px;
  width: 173px;
}

.solicitudes .separator-info-2 {
  height: 12px;
  left: 0;
  position: absolute;
  top: 127px;
  width: 525px;
}

.solicitudes .line-2 {
  height: 1px;
  left: 0;
  background-color: #537895;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 255px;
}

.solicitudes .line-3 {
  height: 1px;
  left: 271px;
  background-color: #537895;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 254px;
}

.solicitudes .ellipse-2 {
  border: 1px solid;
  border-color: #537895;
  border-radius: 8.25px/5.83px;
  height: 12px;
  left: 255px;
  position: absolute;
  top: 0;
  width: 16px;
}

.solicitudes .equipo-info {
  height: 126px;
  left: 0;
  position: absolute;
  top: 160px;
  width: 543px;
}

.solicitudes .overlap-10 {
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 525px;
}

.solicitudes .equipo-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 20px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 525px;
}

.solicitudes .equipo-oid {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 8px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 525px;
}

.solicitudes .eye-3 {
  height: 21px;
  color: #636b6f;
  cursor: pointer;
  left: 489px;
  position: absolute;
  top: 1px;
  width: 26px;
}

.solicitudes .class-icon {
  height: 20px;
  left: 39px;
  color: #00ddfa;
  position: absolute;
  top: 40px;
  width: 28px;
}

.solicitudes .class-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 76px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 47px;
  width: 178px;
}

.solicitudes .marca-icon {
  height: 20px;
  left: 39px;
  color: #00ddfa;
  position: absolute;
  top: 68px;
  width: 28px;
}

.solicitudes .marca-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 76px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 72px;
  width: 178px;
}

.solicitudes .model-icon {
  height: 20px;
  left: 39px;
  color: #00ddfa;
  position: absolute;
  top: 94px;
  width: 28px;
}

.solicitudes .model-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 76px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 98px;
  width: 178px;
}

.solicitudes .equipoinfo-separator {
  height: 75px;
  left: 263px;
  object-fit: cover;
  background-color: #636b6f61;
  position: absolute;
  top: 38px;
  width: 1px;
}

.solicitudes .serial-icon {
  height: 20px;
  left: 306px;
  color: #00ddfa;
  position: absolute;
  top: 40px;
  width: 28px;
}

.solicitudes .serial-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 30px;
  left: 343px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 36px;
  width: 173px;
}

.solicitudes .client-wrapper {
  /* background-image: url(./area-icon.png); */
  background-size: 100% 100%;
  height: 20px;
  left: 306px;
  position: absolute;
  top: 68px;
  width: 28px;
}

.solicitudes .client {
  height: 20px;
  left: 0;
  color: #00ddfa;
  position: absolute;
  top: 0;
  width: 28px;
}

.solicitudes .overlap-11 {
  height: 26px;
  left: 343px;
  position: absolute;
  top: 68px;
  width: 173px;
}

.solicitudes .text-wrapper-2 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 26px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 173px;
}

.solicitudes .ubicacion-icon {
  height: 20px;
  left: 306px;
  color: #00ddfa;
  position: absolute;
  top: 94px;
  width: 28px;
}

.solicitudes .ubicacion-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 343px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 100px;
  width: 173px;
}

.solicitudes .overlap-wrapper {
  height: 12px;
  left: 0;
  position: absolute;
  top: 286px;
  width: 525px;
}

.solicitudes .line-4 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  background-color: #537895;
  top: 5px;
  width: 256px;
}

.solicitudes .line-5 {
  height: 1px;
  left: 270px;
  object-fit: cover;
  background-color: #537895;
  position: absolute;
  top: 5px;
  width: 255px;
}

.solicitudes .sede-info {
  height: 103px;
  left: 0;
  position: absolute;
  top: 303px;
  width: 537px;
}

.solicitudes .overlap-12 {
  height: 21px;
  left: 0;
  position: absolute;
  top: 0;
  width: 525px;
}

.solicitudes .sede-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 15px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: 525px;
}

.solicitudes .sede-oid {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 6px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  white-space: nowrap;
  width: 525px;
}

.solicitudes .sede-icon {
  height: 22px;
  left: 39px;
  color: #00ddfa;
  position: absolute;
  top: 39px;
  width: 28px;
}

.solicitudes .sede-nombre {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 76px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 42px;
  width: 178px;
}

.solicitudes .location-icon {
  height: 22px;
  left: 39px;
  position: absolute;
  color: #00ddfa;
  top: 67px;
  width: 28px;
}

.solicitudes .sede-address {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 78px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 73px;
  width: 176px;
}

.solicitudes .sedeinfo-separator {
  height: 48px;
  left: 263px;
  background-color: #636b6f61;
  object-fit: cover;
  position: absolute;
  top: 41px;
  width: 1px;
}

.solicitudes .sedetelephone-icon {
  height: 22px;
  left: 306px;
  color: #00ddfa;
  position: absolute;
  top: 39px;
  width: 28px;
}

.solicitudes .sede-telefono {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 20px;
  left: 343px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 40px;
  width: 173px;
}

.solicitudes .sedeemail-icon {
  height: 22px;
  left: 306px;
  color: #00ddfa;
  position: absolute;
  top: 67px;
  width: 28px;
}

.solicitudes .sede-email {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 345px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 77px;
  width: 173px;
}

.solicitudes .SolicitudServicioComponent-estado-pendiente {
  height: 45px;
  left: 13px;
  position: absolute;
  top: 9px;
  width: 47px;
  color: #dac508;
}

.solicitudes .SolicitudServicioComponent-estado-aprobada {
  height: 45px;
  left: 13px;
  position: absolute;
  top: 9px;
  width: 47px;
  color: #08da08;
}
.solicitudes .SolicitudServicioComponent-estado-rechazada {
  height: 45px;
  left: 13px;
  position: absolute;
  top: 9px;
  width: 47px;
  color: #da2808;
}