.ActividadesEjecutar-title{
    position: relative;
    top: 310px;
    left: 123px;
    height: 25px;
    width: 300px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    color: #00ddfa;
    background-color: #ffffff;
}