/* ACTIVIDAD STYLES */

.TecnicoEnSede-box {
    height: 237px;
    position: absolute;
    width: 444px;
    top: 315px;
    left: 47px;
}

.TecnicoEnSede-box .TecnicoEnSede-actividad-group {
  height: 52px;
  left: 0;
  position: relative;
  top: 0;
  width: 445px;
}

.TecnicoEnSede-box .TecnicoEnSede-overlap-group {
    background-color: #ffffff;
    border-radius: 10px;
    height: 57px;
    left: 0;
    position: relative;
    top: 0;
    width: 443px;
}

.TecnicoEnSede-box .TecnicoEnSede-actividad-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 13px;
  left: 82px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
  width: 272px;
}

.TecnicoEnSede-box .TecnicoEnSede-actividad-select {
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
  font-size: 12px;
  height: 23px;
  left: 93px;
  position: absolute;
  top: 24px;
  width: 270px;
}

/* TECNICO EN SEDE STYLES */

.TecnicoEnSede-box .TecnicoEnSede-tecnico-en-sede{
    height: 237px;
    position: absolute;
    width: 444px;
    top: 372px;
    left: 3px;
  }
  
  .TecnicoEnSede-box .TecnicoEnSede-en-sede-group {
    height: 390px;
    left: -5px;
    position: absolute;
    top: -297px;
    width: 447px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .TecnicoEnSede-box .TecnicoEnSede-overlap-group-2 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 26px;
    left: 0;
    position: absolute;
    top: 0;
    width: 443px;
  }
  
  .TecnicoEnSede-box .TecnicoEnSede-tecsede-title {
    color: #00ddfa;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 15px;
    left: 86px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 272px;
  }
  
  .TecnicoEnSede-box .TecnicoEnSede-observacion-t {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 14px;
    left: 168px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 35px;
    white-space: nowrap;
    width: 107px;
  }
  
  .TecnicoEnSede-box .TecnicoEnSede-observacion-text {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 64px;
    left: 14px;
    border: none;
    position: absolute;
    top: 58px;
    width: 420px;
  }
  
  .TecnicoEnSede-box .TecnicoEnSede-image-input {
    height: 60px;
    left: 192px;
    position: absolute;
    top: 150px;
    width: 60px;
    cursor: pointer;
    color: #d9d9d9;
  }
  
  .TecnicoEnSede-box .TecnicoEnSede-crear-actividad {
    background-color: #00ddfa;
    border-radius: 10px;
    height: 33px;
    left: 141px;
    position: absolute;
    top: 340px;
    width: 165px;
    cursor: pointer;
  }

  .TecnicoEnSede-box .TecnicoEnSede-loading-icon {
    height: 30px;
    width: 30px;
    color: #00ddfa;
  }